@import "helper/variables";

.show-article-container {
  width: 100%;
  background-color: #fff;
}

.show-article-container.show-article-container-border-green {
  border-top: 3px solid green;
  border-radius: 3px;
}

.show-article-img {
  width: 250px;
  height: auto;
  border-radius: 5px;
}

.show-article-title {
  font-size: 2em;
}

.like-article, .like-article:hover {
  color: red;
  text-decoration: none;
}

@media (max-width: 991px) {
  .show-article-title {
    font-size: 1.5em;
  }

  .show-article-title-container {
    max-width: 220px;
  }
}

.article-text {
  margin-top: 20px;
}

.share-icons i {
  font-size: 1.5em;
}

.comment-container {
  max-width: 600px;
}

.comment-img {
  width: 50px;
  height: auto;
  border: 1px solid darkgray;
}

.commenter-name {
  font-weight: bold;
}

.comment-form {
  min-width: 500px;
}

@media (max-width: 767px) {
  .comment-form {
    min-width: 260px;
  }
  .comment-container {
    max-width: 280px;
  }
}