.main-article {
  border: 2px solid #efefee;
  Background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.main-article img {
  width: 100%;
  height: 250px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 5px solid lightblue;
}

.article-container {
  border: 1px solid #efefee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #fff;
}

.main-article-link, .article-container a {
  text-decoration: none;
  color: #000;
}

.main-article-link:hover {
  text-decoration: none;
  color: #000;
}

.article-title {
  min-width: 300px;

}

@media (max-width: 440px) {
  .article-title {
    min-width: 100px;
    max-width: 245px;
  }
}

.article-img {
  height: 100px;
  width: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.article-author-img {
  height: 25px;
  border: 1px solid darkgray;
}

.article-details {
  font-size: .8em;
}

/* CREATE ARTICLE */

.create-article-container {
  min-width: 400px;
  background-color: lightblue;
  border-radius: 5px;
}