body {
  background-color: lightblue !important;
}

body {
  position: relative;
  background: $lightgray;
  min-height: 45rem;
  padding-bottom: 80px;
}

html {height:100%}

/* NAVIGATION */

.navbar-bg {
  background: url('../../images/space-nav.jpg');
  background-size: 80%;
}

.dropdown-menu, .dropdown-menu.show {
  right: 0;
}

.space-brand {
  color: #fff;
  font-weight: bold;
}

.nav-profile-img {
  width: 50px;
  border: 1px solid #fff;
}


/* LOGIN REGISTRATION */

.form-container {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.inactive {
  border-color: lightgray lightgray lightgray;
  background: darkgray;
  color: #fff;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #efefee;
}