{% extends 'content_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('admin_article_form')}}
{% endblock %}

{% block content_body %}
    <h1>Edit the Article! </h1>

    {{ include('article_admin/_form.html.twig', {
        button_text: 'Update!'
    }) }}
{% endblock %}